html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}
.addTasksButton {
  border-radius: 0;
  box-shadow: none;
  border-style: none;
  background-color: rgb(6, 146, 125);
  padding: 10px;
  transition: 0.3s;
  cursor: pointer;
}
.addTasksButton-text {
  color: aliceblue;
}
.addTasksButton:active {
  background: hsl(180, 100%, 36%);
}

.addTasksButto:hover {
  background: hsl(180, 100%, 30%);
  transform: scale(1.1);
}
@media (max-width: 767px) {
  .addTasksButton {
    text-align: center;
  }
}

.buttonTask {
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  padding: 0px;
  transition: 0.3s;
}
.buttonTask--remove {
  background: hsl(348, 83%, 47%);
}
.buttonTask--remove:hover {
  background: hsl(348, 83%, 52%);
}
.buttonTask--remove:active {
  background: hsl(348, 83%, 57%);
}
.buttonTask--toggle {
  background: hsl(120, 61%, 34%);
}
.buttonTask--toggle:hover {
  background: hsl(120, 61%, 39%);
}
.buttonTask--toggle {
  background: hsl(120, 61%, 44%);
}
